body{
	font-family:"Montserrat";
	text-shadow: none;
	font-weight:300px;
}
#navbar-brand-title {
	margin-bottom: -3px;
	font-size:23px;
	letter-spacing:2px;
	font-weight:600;
}
.navbar-brand a:hover{
	text-decoration: none;
}
#navbar-brand-sub-title{
	position: relative;
	bottom:3px;
	color:#ff6600;
	letter-spacing: 2px;
	font-size: 11px;
}
.navbar{
	padding-top:10px;
	padding-bottom:10px;
	box-shadow:0px 1px 10px #e6e6e6;
}

.icon-bar{
	background-color:#337ab7;
}
.popover{
	font-family: 'Montserrat';
    min-width: 300px; /* Max Width of the popover (depending on the container!) */
    font-size:14px;
    color:#337ab7;
}

.grid-container{
	display:flex;
	flex-wrap: wrap; 
	width:100%;
	height:628px;
}
.grid-item1{
	border-right:1px solid #e6e6e6;
	width:30%;
}
.grid-item2{	
	width: 70%;
	/**margin-left:70%;	**/
}

/******* ACTIVITY text ********/
#db-text{
	letter-spacing: 1px;
	color:#009900;
}
#db-text h5{
	margin-right: 50px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}


/*******MESSAGES and  REGISTERED USERS******/
.box1{
	height:100px;
	width:80%;
	background: #3399ff;
	color:#fff;
	display:block;
	margin-left: auto;
	margin-right: auto;
	/*transition: background 0.5s ease-in-out;*/ 	
}
.box1:hover{
	background:#1a8cff;
}


.box2{
	height:100px;
	width:80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	background: #ff751a;
	color:#fff;
}
.box2:hover{
	background: #ff6600;
}

.box1 h5, .box2 h5{
	font-size:13.5px;
	margin-top: 1px;
	margin-bottom: -19px;
	letter-spacing:1px;
}
#fa-users, #fa-env{
	font-size:20px;
	margin-top: 13px;
	color:#fff;
}
#reg-u-count,#msgs-count{
	font-size:25px;
	letter-spacing:1px;
}








#loading-txt{
	color:#1a8cff;
	font-size:12px;
}


.user {
	color: #ff751a;
	background:#fff;
	font-size:14px;
	border-radius:15px 15px 15px 15px;
	height:40px;
	position:relative;
	display:inline-block; /*makes the text within a div to automatically adapt/grow */
	margin-bottom:-10px;
	padding-left:10px;
	padding-right:10px;
	letter-spacing: 1.5px;
}

hr{
	margin-bottom:0px;
	margin-top:0px;
}
.msg-display{
	width:85%;
	height: 535px;
	border: none;
	overflow-x:hidden;
}

textarea{
	font-size:13px;
	padding: 10px;
	margin-right:-4px;
	resize:none;
	min-width:72%;
	overflow-x:hidden;
	overflow-y: hidden;
	border-right:none;
	border-left:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px; 
}
textarea:active{
	border-color: none;
}

.btn{
	position:relative;
	top: -16px;
	left:0px;
	padding-top: 8.6px;
	padding-bottom: 8.6px;
	border-radius:0px;
}
#btn1,#btn2{
	margin-right:-4px;
	border-right:none;
	border-left:none;
	border-color: #e6e6e6;
}
#btn3{
	color:#1a8cff;
	border-left:none;
	border-color: #e6e6e6;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
#btn3:hover{
	background: #1a8cff;
	color:#fff;
}



#msgCont1{
	float:right;
	clear: both;
	display:inline-block;
	max-width:85%;
	margin: 5px 0;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background:#fff;
	word-wrap: break-word;
	text-overflow:nowrap;
	text-align: left;
	box-shadow:0px 3px 7px #e6e6e6;
	border-radius:5px;
}

#message1{
	color:#fff;
	font-size: 13px;
}



#msgCont{
	float:left;
	clear: both;
	display:inline-block;
	max-width:85%;
	margin:5px 0;
	padding:10px;
	padding-left:10px;
	padding-right:10px;
	background:#fff;
	word-wrap: break-word;
	text-overflow:nowrap;
	text-align: left;
	box-shadow:0px 3px 7px #e6e6e6;
	border-radius:5px;
}

#time00{
	float:right;
	color:#993d00;
	font-size:9.5px;
	margin-top: -2px;
}
#time01{
	color:#aaa;
	float:right;
	font-size:9.5px;
	margin-top: -2px;
}



#user{
	color:#00cc00;
	font-size: 12px;
}
#message{
	color:#595959;
	font-size: 13px;
}


.logout{
	color:blue;
	text-decoration: none;
}



.social-links{
	float:right;
	margin-right:100px;
}
a .fa-facebook-square,a .fa-twitter-square,a .fa-linkedin-square, a .fa-git-square, a .fa-envelope-square{
	font-size: 20px;
	color:#999;
}
.footer{
	background: #e6e6e6;

	padding-top: 12px;
	padding-left: 30px;
	padding-bottom: 12px;

	letter-spacing: 3px;
	margin-top:8px;
	margin-left: auto;
	margin-right:auto;
}

.footer-txt{
	font-size:12.5px;
}




.blinker{
	margin-top:100px;
	border-radius:50%;
	background: #009900;
	height: 55px;
	width:55px;
	box-shadow:0px 3.5px 7px #a6a6a6;
}

.blinker:hover{
	background: #00b300;
}
.blinker .fa{
	font-size:27px;	
}
.fa-calendar{
	margin-top:12px;
	color:#fff;
}



[data-style=primary] + .popover {
	min-width:200px;
	margin-top:-100px;
	color:#009900;	
}


[data-style=primary] + .popover .arrow{
	display:none;
}

[data-style=primary] + .title{
	display:block;
	margin-left:auto;
	margin-right:auto;
}




/****************Date Picker (calendar) styling******************/

/***Calendar container***/
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td, .ui-datepicker th{
	margin:0;
	padding:0;
	border:none;
	border-spacing:0;
}

.ui-datepicker{
	display:none;
	width:220px;
	padding-top: 5px;
	padding-bottom:30px;
	cursor:default;

	text-transform: uppercase;
	font-family:Tahoma;
	font-size:11.5px;

	/**background:#141517; **/
}

/***************    Calendar Header  ***************/
.ui-datepicker-header{
	position:relative;
	padding-bottom:7px;
	border-bottom:1px solid #d6d6d6;
}
.ui-datepicker-title{
	text-align: center;
}
.ui-datepicker-month{
	position:relative;
	padding-right:15px;
	 color: #565656;
}
.ui-datepicker-year{
	padding-left:8px;
	color:#a8a8a8;
}
 /**********small orange circle before the Month**********/
.ui-datepicker-month:before{ 
	display:block;
	position:absolute;
	top:5px;
	right:0;
	width:5px;
	height:5px;
	content:'';

	 background: #00b300;
    background: -moz-linear-gradient(top, #00b300 0%, #009900 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009900));
    background: -webkit-linear-gradient(top, #00b300 0%,#009900 100%);
    background: -o-linear-gradient(top, #00b300 0%,#009900 100%);
    background: -ms-linear-gradient(top, #00b300 0%,#009900 100%);
    background: linear-gradient(top, #00b300 0%,#009900 100%);

    border-radius:5px;
}

 /**********Prev and Next Buttons***********/
.ui-datepicker-prev,.ui-datepicker-next{ 
	position:absolute;
	top:-2px;
	padding:5px;
	cursor:pointer;
}
.ui-datepicker-prev{
	left:0;
	padding-left:0;
}
.ui-datepicker-next{
	right:0;
	padding-right:0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
	display:block;
	width:5px;
	text-indent:-9999px;
	
}
.ui-datepicker-prev span { 
	background-image: url(back.png);
	width:10px;
	height:10px;
	
}
.ui-datepicker-next span  { 
	background-image: url(forward.png);
	width:10px;
	height:10px;
}
.ui-datepicker-prev span:hover{
	background-image: url(back-hover.png);
}
.ui-datepicker-next span:hover{
	background-image: url(forward-hover.png);
}

/*******Days of the week (the days eg MON)********/
.ui-datepicker-calendar th{
	padding-top:15px;
	padding-bottom: 10px;

	text-align: center;
	font-weight:normal;
	color: #565656;
}
 /****** Days (eg 3, 20)*******/
.ui-datepicker-calendar td{
	padding:0 7px;

	text-align: center;
	line-height:20px;
}

.ui-datepicker-calendar .ui-state-default{
	display:block;
	width:17px;
	outline:none;

	text-decoration: none;
	color:#565656;

	border:1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active{
	color:#009900;
	border:1px solid #009900;
}

.ui-datepicker-other-month .ui-state-default{
	color:#a8a8a8;
}



/***************Screen width Adjustments*******************/

@media only screen and (max-width:587px){
	textarea{
		max-width:70%;
	}

	.grid-item1{
		width:100%;		
		padding-top: 20px;
		border-right:none;
		border-top:1px solid #e6e6e6 ;
		position:relative;
		top:670px;

	}
	.grid-item2{
		width:100%;
		position: relative;
		top:-470px;
	}
	.footer{
		position: relative;
		top:602px; 
	}

	.social-links{
		margin-right: 20px;
	}
	

}

